@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
  /* Colors */
  --Backgound: #f2f2f2;
  --Black: #171717;
  --Black60: #17171799;
  --Black45: #17171773;
  --Black5: #1717170d;
  --BlackShadow: #1717174d;
  --White: #ffffff;
  --White60: #ffffff99;
  --White5: #ffffff1a;
  --Secondary: #0d6ede;
  --ImgBackgorund: #94d4f0;
  --Grey: #707070;
  --Grey45: #70707073;
  --Red: #e10052;
  /* Colors End*/

  /* Sizing */
  --Scrollbar-size: 0.5rem;
  /* Sizing End*/

  /* Page Size */
  font-size: 14px;
  /* Page End */
}

/* Page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--Black);
}

body {
  background-color: var(--Backgound);
}

.App {
  scrollbar-color: var(--Secondary) var(--Backgound);
  scrollbar-width: thin;
}

.App::-webkit-scrollbar {
  width: var(--Scrollbar-size);
}

.App::-webkit-scrollbar-track {
  background-color: var(--Backgound);
}

.App::-webkit-scrollbar-thumb {
  background-color: var(--Secondary);
  border-radius: 1rem;
}

.App {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
  overflow-x: hidden;
}

section {
  position: relative;
}
/* Page End */

/* General */
.container-large {
  max-width: 1800px;
  width: 100%;
  padding: 0rem 10rem;
}

.container-small {
  max-width: 1300px;
  width: 100%;
  padding: 0rem 10rem;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.flex-columns {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.color-blue {
  color: var(--Secondary);
}

.blur {
  filter: blur(6px);
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.text-center {
  text-align: center;
}
/* General End*/

/* Fonts Size */
.menu-title {
  font-size: 1.875rem;
  font-weight: 500;
}

.home-subtitle {
  font-size: 2.5rem;
  color: var(--Black60);
  font-weight: 300;
}

.home-title {
  font-size: 8.75rem;
  line-height: 11.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.buttons-text {
  font-size: 1.875rem;
  font-weight: 600;
  color: inherit;
}

.watermark-text {
  font-size: 18.75rem;
  font-weight: 700;
  color: var(--Black5);
  user-select: none;
}

.section-title {
  z-index: 1;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.sub-section-title {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4.375rem;
}

.card-tags {
  color: var(--Black60);
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
}

.buttons-text-small {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--Secondary);
}

.card-date-text {
  font-size: 1.875rem;
  font-weight: 200;
  text-align: center;
}

.paragraph {
  font-size: 1.625rem;
  color: var(--Black60);
  font-weight: 300;
  text-align: justify;
}

.passion-title {
  font-size: 3.125rem;
  font-weight: 600;
}

.cta-section-title {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--White);
  text-align: center;
  z-index: inherit;
}

.resume-button {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--White);
  text-decoration: underline;
}

.footer-title {
  color: var(--White);
  margin-bottom: 1.375rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.footer-email {
  color: var(--White);
  font-size: 1.625rem;
}

.footer-copyright {
  margin-top: auto;
  color: var(--White60);
  font-size: 1rem;
  font-weight: 200;
}

.contact-text {
  font-size: 1.125rem;
  font-weight: 600;
}

.project-title {
  font-size: 5rem;
  font-weight: 700;
}

.paragraph-justify {
  font-size: 1.625rem;
  font-weight: 300;
  text-align: justify;
}
/* Fonts Size End*/

/* Section */
.section-title-container {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title-svg {
  position: absolute;
  width: 20rem;
  margin-top: 7.25rem;
  z-index: 0;
}
/* Section End */

/* Watermark */
.watermark {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}

.home-watermark {
  top: 50%;
  transform: translate(-50%, -50%) translate(20rem, -15rem);
}

.project-watermark,
.experiments-watermark,
.about-watermark {
  margin-top: -5rem;
}

.passion-watermark {
  margin-top: -15rem;
  transform: translate(-60%);
}

.cta-watermark {
  margin-top: -6rem;
  color: var(--White5);
  z-index: 0;
  white-space: nowrap;
  user-select: none;
}

.watermark-404 {
  margin-bottom: -8rem;
}
/* Watermark End*/

/* Menu */
.menu-background {
  background-color: var(--White);
  height: 6.875rem;
  /* scroll-snap-align: start; */
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.menu-logo {
  width: 4rem;
  margin-right: auto;
}

.menu-nav-elements {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav-elements > h1 {
  z-index: 1;
}

.menu-nav-elements > .menu-svg {
  position: absolute;
  width: 8rem;
  margin-top: 2.85rem;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 250ms ease-in;
}

.menu-nav-elements:hover > .menu-svg {
  opacity: 1;
  transform: translateY(0);
}

.menu-hamburger {
  display: none;
}

.menu-hamburger {
  z-index: 5;
  cursor: pointer;
  width: 3.5rem;
  color: var(--Secondary);
}

.menu-hamburger-container {
  background-color: var(--Backgound);
  width: 100vw;
  position: fixed;
  z-index: 50;
  height: calc(100vh - 6.875rem);
  top: 6.875rem;
  left: 0;
  transform: translate(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-hamburger-active {
  transform: translate(0);
}

.menu-hamburger-close {
  margin-right: calc(var(--Scrollbar-size) * 2);
}

.menu-hamburger-contact > .cta-container-blue {
  border: 0.9rem solid var(--Secondary);
  margin-bottom: 10rem;
}

.menu-hamburger-contact > .cta-container {
  padding: 1.25rem 6rem;
  border-radius: 15rem;
}
.menu-hamburger-contact > .cta-container > .buttons-text {
  font-size: 3.5rem;
}
/* Menu End */

/* Home */
.home {
  height: calc(100vh - 6.875rem);
  display: flex;
  justify-content: space-between;
  min-height: 60rem;
}

.home-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-cta {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
  align-items: center;
}

.home-SVG {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-SVG > * {
  width: 40rem;
  margin-left: -10rem;
}
/* Home End */

/* CTA */
.cta-container {
  padding: 0.5rem 3.5rem;
  border-radius: 5rem;
}

.cta-container:hover {
  cursor: pointer;
}

.cta-container-white {
  border: 0.3rem solid var(--White);
  color: var(--White);
}

.cta-container-base {
  border: 0.3rem solid var(--Secondary);
  background-color: var(--Secondary);
  color: var(--White);
}

.cta-container-blue {
  border: 0.3rem solid var(--Secondary);
  background-color: var(--Backgound);
  color: var(--Secondary);
}
/* CTA End */

/* View Project*/
.view-project-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: underline;
}

.view-project-container:hover {
  cursor: pointer;
}

.view-project {
  text-decoration: underline;
}

.view-project-svg {
  transform: translateY(10%);
  width: 1.5rem;
  animation: up-down 1.75s ease-in-out infinite;
}
/* View Project End*/

/* Project */
.project-container {
  display: flex;
  width: 100%;
  margin: 10rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
/* Project End */

/* Card */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

.card-box {
  width: 50rem;
  height: 25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
}

.card-info {
  width: 50%;
  height: 100%;
  background-color: var(--White);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.card-view-container {
  margin-top: auto;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  border: 0.3rem solid var(--Secondary);
  text-decoration: none;
  transition: all 200ms ease-out;
}

.card-view {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-img {
  width: 50%;
  height: 100%;
  background-color: var(--ImgBackgorund);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card-date {
  transform-origin: left;
  transform: rotate(-90deg) translate(-50%);
  width: 25rem;
  margin-right: -24rem;
}

.card-arrow {
  width: 1.125rem;
  fill: var(--Secondary);
  transition: all 200ms ease-out;
}

.card-view-container:hover .card-arrow {
  transform: rotate(135deg);
}

.card-view-container:hover {
  transform: scale(1.1);
}

.card-container:nth-child(even),
.card-container:nth-child(even) > .card-box {
  flex-direction: row-reverse;
}

.card-container:nth-child(even) > .card-date {
  margin-right: 0;
  margin-left: -24rem;
  transform-origin: right;
  transform: rotate(-90deg) translate(50%);
}
/* Card End*/

/* Experiments */
.experiments-container {
  position: relative;
  width: 100%;
  margin: 10rem 0rem;
  gap: 5rem;
}

.experiments-container > *:nth-child(2) {
  margin-left: auto;
  margin-top: -15rem;
}

.experiments-container > *:nth-child(3) {
  right: 7.5rem;
  margin-left: auto;
  margin-right: auto;
}
/* Experiments End */

/* Experiments Bubble */
.bubble-container {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid var(--Secondary);
  overflow: hidden;
  text-decoration: none;
  transition: background 150ms ease-in;
  transition-delay: 150ms;
}

.bubble-img {
  position: absolute;
  z-index: -1;
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
}

.bubble-title {
  text-align: center;
  width: 80%;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 4.375rem;
  opacity: 0;
  color: white;
  transition: all 200ms ease-out;
  transform: translateY(-2rem);
  overflow-wrap: break-word;
}

.bubble-git {
  width: 5rem;
  opacity: 0;
  transform: rotate(-90deg);
  transition: opacity 200ms ease-out, transform 300ms ease-in;
}

.bubble-container:hover > .bubble-title {
  opacity: 1;
  transform: translateY(0);
}

.bubble-container:hover > .bubble-git {
  opacity: 1;
  transform: rotate(0);
  transition: all 300ms ease-out;
  transition-delay: 175ms;
}

.bubble-container:hover {
  background-color: var(--Black60);
  transition: background 100ms;
}
/* Experiments Bubble End */

/* About */
.about-container {
  display: flex;
  width: 100%;
  margin: 10rem 0rem;
  flex-direction: column;
  gap: 6.25rem;
}

.about-first-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 5rem;
}

.about-text {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6.25rem;
}

.about-SVG {
  margin: auto 0;
  width: 33rem;
}

.about-passion-container {
  display: flex;
  flex-direction: row;
  gap: 7.5rem;
}

.passion-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.passion-svg {
  height: 16rem;
  display: flex;
  color: var(--Secondary);
}

.passion-svg > * {
  margin: auto;
  color: var(--Secondary);
}
/* About End*/

/* Cta Section */
.cta-section-svg {
  margin-bottom: -1rem;
}

.cta-section-bcg {
  background-color: var(--Secondary);
  display: flex;
  justify-content: center;
}

.cta-section-bcg > * {
  z-index: 5;
}

.cta-section-container {
  position: relative;
  padding-bottom: 8rem;
  gap: 4.5rem;
}

.cta-section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.5rem;
  z-index: 10;
}
/* Cta Section End*/

/* resume Button */
.resume-button-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--White);
}

.resume-button-container:hover {
  cursor: pointer;
}

.resume-button-svg {
  width: 1.5rem;
}
/* resume Button End */

/* Footer */
.footer {
  width: 100%;
  background-color: var(--Black);
  padding: 4.5rem 0rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.footer-columns {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.footer-link {
  color: var(--White);
  font-size: 1.625rem;
  text-decoration: underline;
}

.footer-logo {
  width: 4.125rem;
  margin-bottom: 1rem;
}
/* Footer End */

/* Contact */
.contact-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--Black45);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content {
  background-color: var(--White);
  height: 55rem;
  width: 39.375rem;
  z-index: 15;
  border-radius: 1rem;
  border: 2px solid var(--Grey);
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  gap: 1.625rem;
  justify-content: center;
  align-items: center;
  box-shadow: 3rem -3rem var(--Secondary);
}

.contact-title {
  position: relative;
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-captcha {
  align-self: center;
}

.contact-field {
  width: 100%;
  padding-bottom: 0.5rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contact-input {
  border: none;
  background-color: var(--Backgound);
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.contact-send {
  align-self: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--Secondary);
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  border: 0.315rem solid var(--Secondary);
  background-color: transparent;
  cursor: pointer;
}

.contact-close {
  align-self: center;
  right: 1rem;
  position: absolute;
  width: 1.5rem;
  transition: all 100ms ease-out;
}

.contact-close > * {
  color: var(--Black60);
}

.contact-close:hover > * {
  color: var(--Red);
}

.contact-close:hover {
  cursor: pointer;
  transform: scale(1.25);
}
/* Contact End */

/* Page Not Found */
.not-found-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7.5rem;
  margin: 0 10rem;
}

.not-found-go-home {
  border: 0.3rem solid var(--Secondary);
  background-color: var(--Secondary);
  color: var(--White);
  padding: 0.5rem 3.5rem;
  border-radius: 5rem;
  text-decoration: none;
}
/* Page Not Found End */

/* Project Page */
/* Menu End */
.project-page-menu {
  height: 6.875rem;
  position: sticky;
  top: 0;
  background-color: var(--Backgound);
  z-index: 2;
}

.project-page-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-page-menu-back {
  width: 2rem;
  cursor: pointer;
  transition: all 100ms ease-out;
}

.project-page-menu-back:hover {
  transform: scale(1.25);
}

.project-page-menu-link-container {
  margin-left: auto;
  display: flex;
  gap: 5.25rem;
}

.project-page-menu-link {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.project-page-menu-link > svg {
  width: 2.5rem;
  transform: translate(0, -0.125rem);
}
/* Menu End */

/* Page */
.project-home {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-first-image {
  display: flex;
  width: 100%;
  padding: 8.25rem 0;
}

.project-first-image > img {
  margin: auto;
  height: auto;
  box-shadow: 0 0 15px 5px var(--BlackShadow);
}

.project-description {
  padding: 8.25rem 0;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.project-presentation-images {
  width: 100%;
  height: 100vh;
  max-height: 80rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Image Grid */
.grid-image-container {
  display: grid;
  grid-template-columns: repeat(4, 35rem);
  justify-items: center;
  align-items: center;
  grid-auto-rows: 35rem;
  grid-template-areas: ". image1 . ." "image2 . image3 ." ". image4 . image5" ". . image6 .";
  transform: rotate(-30deg);
}

.grid-image-container > img {
  width: 60rem;
  box-shadow: 0 0 15px 5px var(--BlackShadow);
}

.grid-image-container > img:nth-child(1) {
  grid-area: image1;
}
.grid-image-container > img:nth-child(2) {
  grid-area: image2;
}
.grid-image-container > img:nth-child(3) {
  grid-area: image3;
}
.grid-image-container > img:nth-child(4) {
  grid-area: image4;
}
.grid-image-container > img:nth-child(5) {
  grid-area: image5;
}
.grid-image-container > img:nth-child(6) {
  grid-area: image6;
}
/* Image Grid End */

.project-row {
  padding: 8.25rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.project-row:nth-child(2) {
  padding: 0;
}

.project-row:last-child {
  padding: 8.25rem 0;
}

.project-row-image {
  padding: 3.5rem;
  width: 100%;
}

.project-row-image-dual {
  width: 100%;
  height: auto;
  position: relative;
}
.project-row-image-dual > img {
  margin: 3.5rem 3.5rem calc(3.5rem + 10%) 3.5rem;
  width: 70%;
  box-shadow: 0 0 15px 5px var(--BlackShadow);
}
.project-row-image-dual > img:last-child {
  position: absolute;
  margin: 0;
  right: 3.5rem;
  bottom: 3.5rem;
  box-shadow: 0 0 15px 5px var(--BlackShadow);
}

.project-row-image > img {
  width: 100%;
  box-shadow: 0 0 15px 5px var(--BlackShadow);
}

.project-row:nth-child(odd) {
  flex-direction: row-reverse;
}
.project-row:first-child {
  flex-direction: row;
}
/* Page End */
/* Project Page End */

/* Animation */
@keyframes up-down {
  0% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(15%);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate(-1px);
  }

  20%,
  80% {
    transform: translate(3px);
  }

  30%,
  50%,
  70% {
    transform: translate(-6px);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* Animation End */
@media screen and (max-width: 1500px) {
  :root {
    font-size: 12px;
  }
  .container-small {
    max-width: 1100px;
  }
  .contact-content {
    height: 60rem;
  }
}

@media screen and (max-width: 1300px) {
  :root {
    font-size: 10px;
  }
  .container-small {
    max-width: 900px;
  }
  .contact-captcha {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 8px;
  }
  .container-small {
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 8px;
  }
  .home {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: space-evenly;
  }
  .home-SVG {
    margin: 0 auto;
  }
  .home-SVG > * {
    margin: 0;
    width: 50rem;
  }
  .menu-container > .menu-nav-elements {
    display: none;
  }
  .menu-hamburger {
    display: unset;
  }
  .watermark-text {
    font-size: 14.75rem;
  }
  .watermark {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
  }

  .home-watermark {
    top: 75%;
    transform: translate(-50%, -50%) translate(5rem, -20rem);
  }

  .passion-watermark {
    margin-top: -9rem;
    transform: translate(-50%);
  }

  .cta-watermark {
    margin-top: -6rem;
    color: var(--White5);
    z-index: 0;
    white-space: nowrap;
    user-select: none;
  }
  .about-passion-container {
    margin: 0 auto;
    flex-direction: column;
    max-width: 400px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
  }
  .passion-svg {
    transform: scale(1.4);
    margin: 4rem;
  }
  .project-row,
  .project-row:nth-child(2n + 1) {
    flex-direction: column;
    gap: 5rem;
  }
  .width50 {
    width: 100%;
  }
  .grid-image-container {
    transform: rotate(-30deg) scale(0.8);
  }
  .menu-nav-elements > .menu-title {
    font-size: 3.5rem;
  }
  .menu-nav-elements > .menu-svg {
    width: 12rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .experiments-container > :nth-child(2) {
    margin-left: auto;
    margin-top: -5rem;
  }
  .watermark-text {
    font-size: 12.75rem;
  }
  .cta-watermark {
    margin-top: -2rem;
  }
  .project-description {
    flex-direction: column;
    gap: 5rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 9px;
  }
  .home-SVG > * {
    width: 100%;
  }
  .home-subtitle {
    font-size: 2rem;
  }
  .home-title {
    font-size: 7.5rem;
  }
  .section-title {
    font-size: 3.5rem;
  }
  .container-large {
    padding: 0 5rem;
  }
  .container-small {
    padding: 0 5rem;
  }
  .about-passion-container {
    max-width: none;
  }
  .sub-section-title {
    font-size: 3rem;
  }
  .passion-title {
    font-size: 2.5rem;
  }
  .cta-section-title {
    font-size: 3rem;
  }
  .card-box {
    width: 100%;
    height: 50rem;
    flex-direction: column-reverse;
  }
  .card-container {
    flex-direction: column;
    gap: 1rem;
  }
  .card-info {
    height: 40%;
    width: 100%;
  }
  .card-img {
    height: 60%;
    width: 100%;
  }
  .card-date {
    transform: translate(0);
    margin: 0;
  }
  .card-container:nth-child(2n) > .card-date {
    transform: translate(0);
    margin: 0;
  }
  .card-container:nth-child(2n) {
    flex-direction: column;
  }
  .card-container:nth-child(2n) > .card-box {
    flex-direction: column-reverse;
  }
  .buttons-text-small {
    font-size: 1.5rem;
  }
  .experiments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .experiments-container > :nth-child(2),
  .experiments-container > :nth-child(3) {
    margin: 0;
    right: unset;
  }
  .about-first-section-container {
    flex-direction: column;
    align-items: center;
  }
  .about-text {
    width: 100%;
  }
  .about-SVG {
    margin: 0;
    width: 40rem;
  }
  .cta-section-container {
    padding-bottom: 4rem;
  }
  .watermark-text {
    font-size: 8rem;
  }
  .project-watermark,
  .experiments-watermark,
  .about-watermark {
    margin-top: -2rem;
  }
  .passion-watermark {
    margin-top: -5rem;
  }
  .section-title-svg {
    width: 14rem;
    margin-top: 5.25rem;
  }
  .grid-image-container {
    transform: rotate(-30deg) scale(0.6);
  }
  .project-presentation-images {
    height: 60vh;
  }
  .project-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .cta-section-buttons {
    width: 100%;
    justify-content: space-around;
    gap: unset;
  }
  .grid-image-container {
    transform: rotate(-30deg) scale(0.45);
  }
  .project-presentation-images {
    height: 30vh;
  }
}

@media screen and (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 7px;
  }
}

@media screen and (max-width: 350px) {
  :root {
    font-size: 6px;
  }
}

@media not screen and (hover: hover) and (pointer: fine) {
  .bubble-title {
    opacity: 1;
    transform: translateY(0);
  }

  .bubble-git {
    opacity: 1;
    transform: rotate(0);
    transition: all 300ms ease-out;
    transition-delay: 175ms;
  }

  .bubble-container {
    background-color: var(--Black60);
    transition: background 100ms;
  }
}
