.view-project-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
}

.view-project-container:hover {
  cursor: pointer;
}

.view-project {
  text-decoration: underline;
}

.view-project-svg {
  transform: translateY(10%);
  width: 1.5rem;
  height: 2rem;
  animation: up-down 1.75s ease-in-out infinite;
}
